<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Book List')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='books')}"></nav>
<div class="container">
    <h1>Lista dei Libri</h1>
    <hr>
    <div>
        <form th:action="@{/books}" method="GET">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Ricerca per Titolo o per Autore"
                       name="keyword" th:value="${searchInput}">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
    <!--mostro la tabella solo se la lista ha risultati-->
    <table class="table" th:if="${bookList.size() > 0}">
        <thead>
        <tr>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Editore</th>
            <th>ISBN</th>
            <th>Anno</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.authors}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.year}"></td>
            <td>
                <a th:href="@{|/books/${book.id}|}"><i class="fa-solid fa-book"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-info" th:unless="${bookList.size() > 0}">
        no result
    </div>
</div>
</body>
</html>